[submodule "kicad-makefile"]
	path = kicad-makefile
	url = https://github.com/tuna-f1sh/kicad-makefile.git
[submodule "pnid-lib"]
	path = pnid-lib
	url = https://github.com/SpaceTeam/pnid-lib.git
[submodule "CubeMX/constixel"]
	path = CubeMX/constixel
	url = https://github.com/tinic/constixel.git
